// Custom styles.
.post {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 25px;
  box-shadow: 0 0 5px rgba(202, 203, 204, .5);
  -webkit-box-shadow: 0 0 5px rgba(202, 203, 203, .5);
  -moz-box-shadow: 0 0 5px rgba(202, 203, 204, .5);
  -o-box-shadow: 0 0 5px rgba(202, 203, 204, .5);
  -ms-box-shadow: 0 0 5px rgba(202, 203, 204, .5);
 }
  // 站点描述
.site-description {
    font-size: 16px;

}
  // 作者名
.site-author-name {
    font-family: 'Comic Sans MS', sans-serif;
    font-size: 20px;
}

// 文章之间的分割线
.posts-expand .post-eof {
    margin: 40px auto 20px;
    background: white;
}
